@page "/allmeals"
@using WhatsForLunch.Core;
@inject HttpClient Http
@inject IDatabaseProvider Db

<PageTitle>Alle Gerichte</PageTitle>

<h1>Alle Gerichte</h1>

@if (meals == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Gericht</th>
                <th>Zutaten</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var meal in meals ?? Enumerable.Empty<Meal>())
            {
                <tr>
                    <td>@meal.Name</td>
                    <td>@string.Join(", ", meal.Ingredients.Select(i => i.Name))</td>
                    <td>@string.Join(", ", meal.Tags.Select(t => t.Name))</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Meal[]? meals;

    protected override async Task OnInitializedAsync()
    {
        // meals = await Http.GetFromJsonAsync<Meal[]>("sample-data/meals.json") ?? Array.Empty<Meal>();
        meals = Db.GetAllMeals().ToBlockingEnumerable().ToArray();
    }
}
